.columns-12{
    width: 1140px;
    height: 100px;
}

.columns-4{
    width: 380px;
    height: 100px;
}

.columns-6{
    width: 570px;
    height: 100px;
}

.columns-8{
    width: 760px;
    height: 100px;
}

.columns-2{
    width: 190px;
    height: 100px;
}